<html lang="en">
    <head>
        <title>Movie Recommendation System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'>
        <!-- Static files -->
        <link href="../static/signin.css" rel="stylesheet">
        <script src="../static/login.js"></script>
    </head>
    <body>
        <div class="box">
            <form>
                <h2>Login</h2>
                <p class = "text-muted">Please enter your Email/Phone Number and Password!</p>
                <p class="error-message" id="error-message">Invalid Credentials</p> 
                <input type="text" name="email" placeholder="Email/Phone Number" id="email"> 
                <input type="password" name="password" placeholder="Password" id="password"> 
                <input type="button" value="Login" onclick="authenticate()">
                <div class="text-muted">Don't have an account? </div><a class="register" href="#" data-toggle="modal" data-target="#modalRegisterForm" onclick="onModalOpen()">Sign up.</a>
            </form>
        </div>

        <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onModalClose()"><span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                    <div id="reg-error-message" class="error-message">Already registered email/phone number.</div>
                    <div id="reg-success-message" class="success-message">Registration successful.</div>
                    <div class="form-group">
                        <label for="reg-email">Email address/Phone Number</label>
                        <input type="text" class="form-control" id="reg-email" placeholder="Enter Email/Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="reg-password">Password</label>
                        <input type="password" class="form-control" id="reg-password1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="reg-password">Confirm Password</label>
                        <input type="password" class="form-control" id="reg-password2" placeholder="Confirm Password">
                    </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <button type="button" class="btn btn-success" onclick="registration()">Submit</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </body>
</html>